@using TravelGuide.UI.Models
@model TravelGuide.Entities.ValueObjects.ChangePasswordValueObject
@{
    ViewBag.Title = "Şifre Değiştirme Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/admin.css" rel="stylesheet" />
<header class="intro-header" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>

        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-md-12">
                    @Html.ValidationSummary(false)
                </div>

                <div class="col-md-3">
                    <img src="~/images/members/@CurrentSession.User.ProfileImage" alt="@CurrentSession.User.Username" width="250" height="250" /><br />
                </div>

                <div class="col-md-9">
                    @{
                        if (ViewBag.PassInfo != null)
                        {
                            <h4 style="color:green" class="glyphicon glyphicon-ok-sign"> @ViewBag.PassInfo</h4>
                        }
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @MyBootstrapHelper.Button("default", "Değiştir", string.Empty, "submit", "key", "Değiştir")
                            @MyBootstrapHelper.LinkButton("/Home/ShowProfile", "danger", string.Empty, "İptal", "ban", "İptal")
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>


<script src="~/Scripts/admin.js"></script>

