@model TravelGuide.Entities.Entity.Member
@{
    ViewBag.Title = "Profil Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/admin.css" rel="stylesheet" />
<header class="intro-header" style="margin-top:70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>

        @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="col-md-12">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)
                </div>

                <div class="col-md-3">
                    <img src="~/images/members/@Model.ProfileImage" alt="@Model.Name" width="250" height="250" /><br />
                    @Html.HiddenFor(model => model.ProfileImage)
                    @Html.LabelFor(model => model.ProfileImage, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ProfileImage, new { htmlAttributes = new { @class = "form-control", type = "file" } }) <br />
                    <span class="glyphico glyphicon-info-sign">&nbsp;</span>
                    <span><i>Lütfen .png,.jpeg ya da .jpg formatı kullanın</i></span> <hr />
                </div>

                <div class="col-md-9">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label font-weight-bold col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @MyBootstrapHelper.Button("warning", "Güncelle", string.Empty, "submit", "edit", "Güncelle")
                            @MyBootstrapHelper.LinkButton("/Home/ShowProfile", "danger", string.Empty, "Geri Dön", "angle-double-left", "Geri Dön")
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>


<script src="~/Scripts/admin.js"></script>

