@using TravelGuide.Entities.Entity
@model IEnumerable<Place>
@{
    ViewBag.Title = "Şehrin Mekanları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/admin.css" rel="stylesheet" />

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</header>
<article>
    <div class="container">
        <div class="row">
            <br />
            <div class="col-md-12">
                <h2>@ViewBag.CityName <strong>Şehrinin Mekanlarını Yönet</strong></h2>
                <hr />
            </div>
            <div class="col-md-12">
                <p>
                    @MyBootstrapHelper.LinkButton("/Place/Create/" + ViewBag.CityId + "", "primary", null, "Yeni Mekan Ekle", "plus", "Yeni Mekan Ekle")
                </p>
                <table class="table table-bordered table-striped table-hover table-responsive text-center">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RoadDescribe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedOn)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedUsername)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoadDescribe)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn.ToString().Split(' ')[0])
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedUsername)
                                </td>
                                <td>
                                    @MyBootstrapHelper.LinkButton("/Place/Edit/" + item.Id + "", "warning", null, "Mekan Güncelle", "edit", string.Empty)
                                    @*@MyBootstrapHelper.LinkButton("/Place/Delete/" + item.Id + "", "danger", null, "Mekan Sil", "trash", string.Empty)*@
                                    <a href="#" class="btn btn-danger" title="Mekan Sil" data-target="#deletePlaceModal" data-toggle="modal" data-place-id="@item.Id"><i class="fa fa-trash">&nbsp;</i></a>
                                    @MyBootstrapHelper.LinkButton("/Place/Detail/" + item.Id + "", "default", null, "Mekan Detay", "search", string.Empty)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>
                    @MyBootstrapHelper.LinkButton("/City/Index", "info", null, "Şehirlere Dön", "angle-double-left", "Şehirlere Dön")
                </p>
                <hr />
            </div>

        </div>
    </div>
</article>

<script src="~/Scripts/admin.js"></script>
<!-- Modal delete Country-->
<div class="modal fade" id="deletePlaceModal" tabindex="-1" aria-labelledby="deletePlaceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="deletePlaceModalLabel">Silme Sayfası</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <form id="deletePlaceForm" action="/Place/Delete" method="post">
                            <input type="hidden" id="deletePlaceId" name="Id" />
                        </form>

                        <div class="alert alert-danger">
                            <span class="fa fa-remove"></span> Mekan kaydını silmek istediğinize emin misiniz?
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" title="İptal"><i class="fa fa-close mr-2"></i>İptal</button>
                <button type="submit" id="btnDeletePlace" class="btn btn-danger" title="Sil" onclick="btnDeletePlace_Click()"><i class="fa fa-trash mr-2">&nbsp;</i>Sil</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#deletePlaceModal').on('show.bs.modal', function (e) {

            var btn = $(e.relatedTarget)
            var id = btn.data("place-id");
            $("#deletePlaceModal").find("#deletePlaceId").val(id);
        });
    });
    function btnDeletePlace_Click() {
        $("#deletePlaceForm").submit()
    }
</script>
